In [1]:
# 1 answer

In [2]:
percentage=int(input("type the marks"))
if percentage>90:
    print("you got A grade")
elif (percentage>80) or (percentage<=90):
    print("you got B grade")
elif (percentage>=60) or (percentage<=80):
    print("you got C grade")
else:
    print("you got D grade")

type the marks 45

you got B grade

In [3]:
# 2 answer

In [8]:
price=int(input("type the cost price in inr ="))
if  price>100000:
    tax=price*15/100
    print("total tax of 15 % is "+ str(tax))
elif (price>50000) and (price<=100000):
    tax=str(price*10/100)
    print("total tax of 10 % is "+tax)
elif (price<=50000):
    tax=str(price*5/100)
    print("total tax of 5 % is  "+tax)

type the cost price in inr = 12345678

total tax of 15 % is 1851851.7

In [16]:
#3 answer

In [15]:
city=input("type any city from the list and will show famous monument?")
if city=="delhi":
    print("RED FORT")
elif city=="agra":
    print("TAJ MAHAL")
elif city== "jaipur":
    print("JAL MAHAL")
else:
    print("city not given on list")

type any city from the list? delhi

RED FORT

In [17]:
#4 answer

In [12]:
number=int(input("enter any desired number?"))
sum=0
for i in range(10,number+1):
    if i<10:
        print("number less than 10")
    elif (i>=10) and(i%3==0):
                print(i)
l=[]
a=l.append(i)
print(a)

enter any desired number? 45

12
15
18
21
24
27
30
33
36
39
42
45
None

In [ ]:
#5 answer

In [ ]:
#while loop is helpful in repeating the specific block of code an unknown number of times,until the condition is met
i=1
while True:
    print("bhupesh")

In [ ]:
#6 answer

In [5]:
n=int(input("enter any number by which you want to make pattern"))
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j+=1
    print()
    i+=1

enter any number by which you want to make pattern 4

1
1 2
1 2 3
1 2 3 4

In [1]:
n=int(input("enter any number by which you want to make pattern"))
row=0
while row<n:
    space=n-row-1
    while space>0:
        print(end=" ")
        space-=1
    star=row+1
    while star>0:
        print("*",end=" ")
        star=star-1
    row=row+1
    print()

enter any number by which you want to make pattern 4

   *
  * *
 * * *
* * * *

In [5]:
n=int(input("enter any number by which you want to make pattern"))
i=0
while i<n:
    k=(n-1)-i
    while k>0:
        print(" ",end=" ")
        k=k-1
    j=i+1
    while(j>0):
        print("*",end=" ")
        j=j-1
    i=i+1
    print()

enter any number by which you want to make pattern 4

      *
    * *
  * * *
* * * *

In [6]:
n=int(input("enter any number by which you want to make pattern"))
i=0
while i<n:
    j=(n-i)
    while(j>=1):
        print("*",end=" ")
        j=j-1
    i=i+1
    print()

enter any number by which you want to make pattern 4

* * * *
* * *
* *
*

In [1]:
#7 answer

In [2]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [3]:
#or

In [13]:
i=int(input("enter number"))
rev=0
while i>0:
    rev=(rev*10)+i%10
    i=i//10
print("reverse=",rev)

enter number 456

reverse= 654